<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>News</title>
		<link rel="icon" 
      type="image/png" 
      href="/static/images/logo.png">

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/static/style.css">
		

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/ class="branding">
						<img src="/static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">News</h1>
							<small class="site-description"></small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item "><a href="/">Home</a></li>
							<li class="menu-item current-menu-item"><a href="/news">News</a></li>
							<li class="menu-item"><a href="/Subscribe">Subscribe</a></li>
							<li class="menu-item"><a href="/aqi">Air Quality Index</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="/static/index.html">Home</a>
						<span>News</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							
						

							<div class="col-md-12">
								<div >
										<div class="photo-details">
										<h3 class="photo-title"><a href="https://www.thetimes.co.uk/environment/climate-change">News</a></h3>
										<p>
											<a style="color: white;" href="https://www.telegraph.co.uk/royal-family/2022/09/21/prince-william-says-late-queen-would-have-delighted-climate/
											" target="_blank">Prince William says the late Queen would have been ‘delighted’ by climate change prize</a><br>
											<a style="color: white;" href="https://www.telegraph.co.uk/tv/0/galwad-story-future-review-climate-change-drama-felt-like-lecture/" target="_blank">Galwad, review: a climate-change drama that felt more like a lecture by a teenage activist</a><br>
											<a style="color: white;" href="https://www.telegraph.co.uk/business/2022/10/07/let-king-charles-go-campaign-climate-head-commonwealth/" target="_blank">Let King Charles go to campaign on climate as head of the Commonwealth</a><br>
											<a style="color: white;" href=" https://www.telegraph.co.uk/opinion/2022/10/14/sadiq-khan-must-decide-represents-londoners-whole-just-militant/" target="_blank">Sadiq Khan must decide if he represents Londoners as a whole or just militant climate activists</a><br>
											<a style="color: white;" href="https://www.telegraph.co.uk/theatre/what-to-see/contingency-plan-sheffield-crucible-review-political-message/" target="_blank">The Contingency Plan: there’s too much blather in this climate-change disaster duo</a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/world-africa-63212991" target="_blank">New East African oil pipeline sparks climate row</a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/science-environment-63350197" target="_blank">King Charles should go to COP27 - US climate envoy</a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/world-africa-63212991" target="_blank">New East African oil pipeline sparks climate row</a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/science-environment-63350197" target="_blank">King Charles should go to COP27 - US climate envoy </a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/science-environment-63200589" target="_blank">Can an enormous seaweed farm help curb climate change?</a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/world-africa-63212991" target="_blank">New East African oil pipeline sparks climate row </a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/world-europe-guernsey-63357253" target="_blank">Brexit and climate change raised in French meetings </a><br>
											<a style="color: white;" href="https://www.bbc.co.uk/news/science-environment-63350197" target="_blank">King Charles should go to COP27 - US climate envoy </a><br>
											<a style="color: white;" href="https://www.bbc.co.ukhttps://www.bbc.com/future/article/20221021-how-climate-change-in-film-shape-society" target="_blank">Why many climate films miss the point</a><br>
										   </p>
										</div>
								</div>
								<div >
										<div class="photo-details">
										<h3 class="photo-title"><a href="https://www.theguardian.com/environment/climate-crisis">Articles</a></h3>
										<p>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/what-is-climate-change-the-evidence-and-solutions-explained-in-charts-jtrqp0v0j" target="_blank">What is climate change? The evidence and solutions explained in charts</a><br>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/20-things-you-can-do-right-now-to-stop-climate-change-xklr5qdj5" target="_blank">20 things you can do right now to stop climate change</a><br>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/how-much-do-you-really-know-about-the-climate-crisis-8jn7d03hd" target="_blank">How much do you really know about climate change?</a><br>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/the-effects-of-climate-change-explained-why-we-need-to-act-now-57hwpmw7h" target="_blank">Fire, famine and rising seas: the effects of climate change explained</a><br>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/how-are-countries-tackling-climate-change-before-cop26-r8kz63hvj" target="_blank">How are countries tackling climate change before Cop26?</a><br>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/oil-firms-lobbied-for-climate-tests-to-be-scrapped-sgs9s0cr8" target="_blank">Oil firms lobbied for climate tests to be scrapped</a><br>
											<a style="color: white;" href="https://www.thetimes.co.uk/article/two-thirds-of-city-trees-are-harmed-by-climate-change-k0wgrvnzp" target="_blank">Two thirds of city trees are harmed by climate change</a><br>
										</p>
										</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<p class="colophon">All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>